/* Smallest 0px - 800px */
@media (max-width: 900px) {
  body {
    background-color: lightgreen;
  }
  .calculator {
    width: 90vw;
  }
}

/* Slightly Bigger 800px - 1499px */
@media (min-width: 900px) {
  body {
    background-color: lavender;
  }
  .calculator {
    width: 55vw;
  }
}

/* Bigger 1500px above*/
@media (min-width: 1200px) {
  body {
    background-color: lightcoral;
  }
  .calculator {
    width: 45vw;
  }
}
