@media (max-width: 800px) {
  body {
    background-color: lightgreen;
  }
  .calculator {
    width: 90vw;
  }
  .container-record {
    margin: 0px;
  }
}

@media (min-width: 800px) {
  body {
    background-color: lavender;
  }
  .calculator {
    width: 55vw;
  }
}

@media (min-width: 1500px) {
  body {
    background-color: lightcoral;
  }
  .calculator {
    width: 35vw;
  }
}
